@media only screen and (max-width: 768px) {
  .mobileSellScroll {
    display: flex !important;
    width: 95vw;
    overflow-x: scroll;
  }
}
.custom-date-picker {
  padding: 10px;
  border: 1px solid #888686; /* Green border */
  border-radius: 5px;
  font-size: 16px;
  width: 50%; /* Full width */
  box-sizing: border-box; /* Makes padding part of width */
}
